.home_bg {
    background-image:url("../../assets/bgg.jpg");
    text-align: center;
    height: 60vh;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center; 
    background-size: cover;
    
    
}
.carousel  h2 {
        text-align: center;
        font-size: 35px;
        color: #3a3022;
        font-weight: 700;
        font-family: "Sacramento", cursive;
        margin: 20px;
        padding: 15px;
}
