.add-posts  button{
    padding: 5px;
    margin: 10px;
    border: none;
    color: #64543d;
    font-family: 'Sacramento', cursive;
    -webkit-box-shadow: 0 5px 2px -2px rgb(129, 106, 72);;
    -moz-box-shadow: 0 5px 2px rgb(129, 106, 72);;
    box-shadow: 0 5px 2px -1px rgb(129, 106, 72);
}
input{
    outline: none;
    border: none;
}
.add-posts{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.add-posts input {
    border: none;
    padding: 12px 20px;
    margin: 8px 5px;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-box-shadow: 0 5px 2px -2px rgb(129, 106, 72);;
    -moz-box-shadow: 0 5px 2px rgb(129, 106, 72);;
    box-shadow: 0 5px 2px -1px rgb(129, 106, 72);
}
.add-posts input:focus{
    border: none;
}
.add-posts textarea {
    padding: 12px 20px;
    margin: 8px 5px;
    border: none;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
    -webkit-box-shadow: 0 5px 2px -2px rgb(129, 106, 72);;
    -moz-box-shadow: 0 5px 2px rgb(129, 106, 72);;
    box-shadow: 0 5px 2px -1px rgb(129, 106, 72);

}