.posts-div {
    border: 1px rgb(129, 106, 72);  ;
    padding: 10px;
    margin: 10px;
    -webkit-box-shadow: 0 5px 2px -2px rgb(129, 106, 72);;
    -moz-box-shadow: 0 5px 2px rgb(129, 106, 72);;
    box-shadow: 0 5px 2px -1px rgb(129, 106, 72);
}
.posts-div img {
  width: 40%;
  height: 60%;
}
.posts-div h3 {
text-transform: capitalize;
  font-size: 18px;
  color: #3a3022;
  font-weight: 700;
  font-family: "Sacramento", cursive;
  margin: 15px;
}
.posts-div p {
    font-size: 18px;
    color: #3a3022;
    font-family: "Sacramento", cursive;
    margin: 12px;
}