.form {
  padding: 15px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Sacramento", cursive;
}
.form h1 {
  font-family: "Sacramento", cursive;
  font-size: 35px;
  color: rgb(53, 45, 28);
  cursor: pointer;
}

.form input {
  border: none;
    font-size: 20px;
    color: grey;
    border-bottom: 1px solid;
    padding: 10px;
    margin: 8px 5px;
    
    box-sizing: border-box;
}

.form button {
  padding: 15px;
  margin: 10px;
  color: beige;
  border: none;
  background-color: rgb(129, 106, 72);
  font-family: "Sacramento", cursive;
  -webkit-box-shadow: 0 5px 2px -2px rgb(129, 106, 72);
  -moz-box-shadow: 0 5px 2px rgb(129, 106, 72);
  box-shadow: 0 5px 2px -1px rgb(129, 106, 72);
}
form label {
  color: rgb(53, 45, 28);
  font-size: 20px;
  padding: 10px;
}
.reg-log-form {
  display: flex;
  flex-direction: column;
}
